/* Estilo de las Paginas */
header, footer {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
}
main {
    margin: 0;
    color: #fff;
    text-align: center;
}

img {
    border-radius: 25%;
    width: 70%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 7, 7);
    background-image: url('/Images/FondoPages.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ventana {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-image: url('/Images/FondoVentana.jpg');
    border: 1px solid black;
    border-radius: 5px;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}